@import 'normalize';

$colorA: #FC63B3;
$colorB: #007AFF;
$colorC: #FCB810;
$colorD: #161B1A;
$colorE: #B5B4B5;

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	line-height: 1.2;
	height: 100%;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #000;
}

body {
	font-size: 1.2rem;
}

a {
	color: $colorE;

	&:hover {
		color: $colorA;
	}
}

.icons,
.wrapper {
	margin-top: 3rem;
}

.icons {
	text-align: right;
	width: 75%;
}

@media (min-width: 855px) {
	.icons,
	.wrapper {
		float: left;
		width: 70%;
	}

	.icons {
		width: 30%;
	}
}

.wrapper {
	padding-bottom: 5rem;
}

.icons {
	box-sizing: border-box;
	background-color: $colorD;
	border-top-right-radius: 4rem;
	border-bottom-right-radius: 4rem;
	padding: 1.3rem;

	@media (min-width: 500px) {
		padding: 2rem;
	}
}

.wrapper {
	header,
	main {
		max-width: 40em;
		margin-left: 1rem;
		padding-right: 1rem;

		@media (min-width: 500px) {
			margin-left: 2rem;
			padding-right: 2rem;
		}
	}
}

.logo {
	height: 3rem;
	max-width: 100%;
}

.icon {
	height: 1.5rem;
	width: 3.2rem;
	margin: 0 0.3rem;

	@media (min-width: 500px) {
		height: 2rem;
		width: 3.2rem;
	}
}

h1,
h2,
h3 {
	font-weight: 300;
}

h1 {
	font-weight: 400;
	margin-top: 0;
}

h2 {
	font-size: 1.5rem;
	color: $colorE;
}

h3 {
	font-size: 2.8rem;
	margin: 0;
}

section {
	margin-top: 3rem;
}

dl {
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
}

dt,dd {
	box-sizing: border-box;
	padding: 0.5rem;
	margin: 0;
}

dt {
	width: 6em;
	display: flex;
	color: $colorE;
	font-weight: 600;
}

dd {
	width: calc(100% - 8rem);

	strong {
		display: block;
	}
}

.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	transition: background-color .2s ease-in-out,box-shadow .2s ease-in-out,color .2s ease-in-out;
	border: 2px solid $colorB;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	letter-spacing: 0.125em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: 0.75rem;
	max-width: 20rem;
	height: 3.75em;
	line-height: 3.75em;
	border-radius: 3.75em;
	padding: 0 2.5em;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #000;
	background-color: $colorB;

	&:hover {
		background-color: #000;
	}
}

.button--secondary {
	border-color: $colorC;
	background-color: $colorC;
}
